{% load i18n thumbnail %}
<div id="dialog">
  <h3>{% trans 'Categories' %}</h3>
  <ul class="list-unstyled">
    {% for category in categories %}
    <li>
      <input name="" type="checkbox" id="toggle-category-{{ category.id }}" class="toggle-category" data-category-id="{{ category.id }}" checked="checked"/>
      <label for="toggle-category-{{ category.id }}">
        {% thumbnail category.icon '20x20' as im %}
        <img alt="{{ category.name }}" src="{{ im.url }}"/>
        {% endthumbnail %}
        <span>{{ category.name }}</span>
      </label>
      <br/>
    </li>
    {% endfor %}
  </ul>
</div>
