{% extends 'base.html' %}
{% load static thumbnail %}
{% block css %}
  <link rel="stylesheet" href="{% static 'vendor/css/leaflet.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/css/leaflet-sidebar.min.css' %}" />
  <link rel="stylesheet" href="{% static 'vendor/css/leaflet-dialog.css' %}" />
  <link rel="stylesheet" href="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.css" />
  <style>
    #map {
      height: 800px;
    }
    #dialog {
      display: none;
    }
  </style>
{% endblock css %}
{% block content %}
  <div id="sidebar" class="sidebar collapsed">
    <!-- Nav tabs -->
    <div class="sidebar-tabs">
      <ul role="tablist">
        <li>
          <a href="#home" role="tab">
            <i class="fa fa-bars"></i>
          </a>
        </li>
        <!-- <li class="disabled"><a href="#messages" role="tab"><i class="fa fa-envelope"></i></a></li> -->
      </ul>
      <ul role="tablist">
        <li><a href="#info" role="tab"><i class="fa fa-info"></i></a></li>
      </ul>
    </div>
    <!-- Tab panes -->
    <div class="sidebar-content">
      <div class="sidebar-pane" id="home">
        <h1 class="sidebar-header">
          <span class="title"></span>
          <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
        </h1>
        <br/>
        <div class="content">
        </div>
      </div>
      <div class="sidebar-pane" id="info">
        <h1 class="sidebar-header">Info<span class="sidebar-close"><i class="fa fa-caret-left"></i></span></h1>
        <h4>Tools</h4>
        <ul class="list-unstyled">
          <li>Django</li>
          <li>Postgis</li>
          <li>Leafletjs</li>
          <li>Leafletjs Sidebar plugin</li>
        </ul>
      </div>
    </div>
  </div>
  <div id="map" class="sidebar-map"></div>
  {% include 'web/_categories_popup.html' %}
{% endblock content %}
{% block javascript %}
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="{% static 'vendor/js/leaflet.js' %}"></script>
  <script src="{% static 'vendor/js/leaflet-sidebar.min.js' %}"></script>
  <script src="{% static 'vendor/js/leaflet-dialog.js' %}"></script>
  <script src="https://domoritz.github.io/leaflet-locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>
  <script src="{% static 'js/map.js' %}"></script>
{% endblock javascript %}
